.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    position: relative;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header  header  header"
        "sidebar content content"
        "footer  footer  footer";
    max-width: 1024px;
    padding: 0 2rem;
    margin: auto;
}


.content > h2, .content > h3, .content > h4 {
    margin-top: 0;
}