.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
    position: relative;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header   header  header"
        "sidebar  main    main"
        "footer   footer  footer";
    max-width: 1024px;
    padding: 0 2rem;
    margin: auto;
}


.main > h1, .main > h2, .main > h3, .main > h4,
.sidebar > h1, .sidebar > h2, .sidebar > h3, .sidebar > h4,
article > h2 {
    margin-top: 0;
}