html {
	font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Open Sans', sans-serif;
}

body {
	line-height: $baseline;
	padding: $baseline 0;
}

p{
	line-height: $baseline;
	margin-bottom: $baseline;
}

a:hover {
	text-decoration: underline !important;
}

h1, h2, h3, h4, h5, header > span {
	font-weight: 700;
    margin-bottom: $baseline;
    font-family: 'Merriweather', serif;
}

h1, header > span {
	font-size: $h1-mobile;
	line-height: $h1-mobile * 1.5;
	margin: 0;

	@media screen and (min-width: 768px) {
		font-size: $h1;
		line-height: $h1 * 1.5;
		margin-top: 0;
	}

	a {
		color: $body-color;
		text-decoration: none !important;
	}

	a:hover {
		color: $link;
		text-decoration: underline !important;
	}
}

h2, h1.title {
	font-size: $h2-mobile;
	line-height: $h2-mobile * 1.5;
	margin-top: calc((2 * #{$baseline} - #{$h2-mobile});

	@media screen and (min-width: 768px) {
		font-size: $h2;
		line-height: $h2 * 1.5;
		margin-top: calc((2 * #{$baseline} - #{$h2});
	}

	a {
		color: $body-color;
		text-decoration: none !important;
	}

	a:hover {
		color: $link;
		text-decoration: underline !important;
	}
}

h3 {
	font-size: $h3-mobile;
	line-height: $h3-mobile * 1.5;
	margin-top: calc((2 * #{$baseline} - #{$h3-mobile});

	@media screen and (min-width: 768px) {
		font-size: $h3;
		line-height: $h3 * 1.5;
		margin-top: calc((2 * #{$baseline} - #{$h3});
	}
}

h4 {
	font-size: $h4-mobile;
	line-height: $h4-mobile * 1.5;
	margin-top: calc((2 * #{$baseline} - #{$h4-mobile});

	@media screen and (min-width: 768px) {
		font-size: $h4;
		line-height: $h4 * 1.5;
		margin-top: calc((2 * #{$baseline} - #{$h4});
	}
}

h5 {
	font-size: $h5-mobile;
	line-height: $h5-mobile * 1.5;
	margin-top: calc((2 * #{$baseline} - #{$h5-mobile});

	@media screen and (min-width: 768px) {
		font-size: $h5;
		line-height: $h5 * 1.5;
		margin-top: calc((2 * #{$baseline} - #{$h5});
	}
}

ol {
	margin: 0 0 1rem 1.2rem;
}

ul {
	margin: 0 0 1rem 1.2rem;
	list-style-type: disc;
}