$baseline: 1.7rem;

$h1: 2.5rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .875rem;

$link: hsl(217, 71%,  53%);
$link-hover: darken($link, 20);

$title-line-height: 1.5em;
$footer-background-color: #FFF;