$baseline: 1.7rem;

$h1: 2.5rem;
$h2: 2rem;
$h3: 1.75rem;
$h4: 1.5rem;
$h5: 1rem;

$h1-mobile: 1.8rem;
$h2-mobile: 1.6rem;
$h3-mobile: 1.4rem;
$h4-mobile: 1.2rem;
$h5-mobile: 1rem;

$link: hsl(217, 71%,  53%);
$link-hover: darken($link, 20);

$title-line-height: 1.5em;
$footer-background-color: #FFF;